<div *ngIf="field">
<div [ngSwitch]="field.controlType">
  <div *ngSwitchCase="'textbox'">
    <app-text-field [form]="form" [field]="field"></app-text-field>
  </div>
  <div *ngSwitchCase="'date'">
    <app-date [form]="form" [field]="field"></app-date>
  </div>
  <div *ngSwitchCase="'dropdown'">
    <app-dropdown [field]="field" [form]="form"></app-dropdown>
  </div>

  <div *ngSwitchCase="'autocomplete'">
    <app-autocomplete [field]="field" [form]="form"></app-autocomplete>
  </div>
</div>
</div>
