.heroesPicLarge {
  border: 2px solid darkslateblue;
  width: 96px;
  height: 96px;
  border-radius: 50px;
  background: ghostwhite;
  vertical-align: middle;
}
.contactCard {
  flex: 1;
  flex-direction: row;
}
