.hero-pic-large {
  border: 2px solid darkslateblue;
  width: 134px;
  height: 134px;
  max-width: 134px;
  max-height: 134px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  background: ghostwhite;
  vertical-align: middle;
}
.avatar {
  margin: 1%;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}
p.avatar{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
.contact-card {
  display: flex;
  max-width: 100%;
  width: 80%;
  flex: 1;
  align-items: center;

  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-row {
  margin: 1%;
  display: flex;
  max-width: 80%;
  width: 80%;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}
.info{
  width: 50%;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.name{
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
.alias{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.phone{
  font-size: 30px;
  text-align: center;
}
span.phone{
  font-weight: bolder;
}
div.mini-button{
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  align-content: flex-end;
}
.mini-button{
  background: none;
  border: none;
  color: whitesmoke;
  width: auto;
  height: auto;
  margin: auto;
}
.forms-mini-button{
  background-color: transparent;
  border: none;
  min-width: 10%;
  min-height: 5%;
  margin: auto;
  padding: 0;
  color: whitesmoke;
}
.mini-card{
  margin: 1%;
  width: 60%;
  display: flex;
  flex: 1;
  flex-direction: column;
}


