<div *ngIf="!hero">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="hero">
  <mat-card class="mat-elevation-z10" class="contactCard" *ngIf="fetchedHero">
    <div  *ngFor="let field of fields" >
      <app-field [form]="heroForm" [field]="field"></app-field>
    </div>
    <div class="avatar">
    <mat-icon mat-card-avatar (click)="changeAvatar()" svgIcon="{{hero.picture}}" class="heroesPicLarge"></mat-icon>
    <p class="avatar"> don't like the avatar ? click on it!</p>
    </div>
    <div class="info">
      <mat-label> Phone: </mat-label>
      <div *ngFor="let phoneForm of phoneForms">
        <div *ngFor="let field of phoneFields" >
          <app-field [form]="phoneForm" [field]="field"></app-field>
        </div>
        <button class="forms-mini-button" (click)="clickRemove('phone',phoneForm)" [hidden]="hideRemove()"> <mat-icon>remove</mat-icon></button>

      </div>
      <button class="forms-mini-button" (click)="clickAdd('phone')" [hidden]="hideAdd()"> <mat-icon>add</mat-icon></button>
    <mat-label> Address: </mat-label>
    <div *ngFor="let addressForm of addressForms">
      <div *ngFor="let field of addressFields" >
        <app-field [form]="addressForm" [field]="field"></app-field>
      </div>
      <button class="forms-mini-button" (click)="clickRemove('address',addressForm)" [hidden]="hideRemove()"> <mat-icon>remove</mat-icon></button>
    </div>
    <button class="forms-mini-button" (click)="clickAdd('address')" [hidden]="hideAdd()"> <mat-icon>add</mat-icon></button>
    </div>
    <button (click)="updateHero()" [disabled]="disableSubmit()" class="minibutton" [routerLink]="['/hero',hero.id]">
      <mat-icon class="minibutton" >
        update
      </mat-icon>
    </button>
    <!--<div>-->
    <!--<button (click)="updateForm()" matLine><mat-icon>update</mat-icon></button>-->

    <!--</div>-->
  </mat-card>
</div>
