<mat-toolbar color="primary" class="toolbarList">
  <mat-toolbar-row>
    <button type="button" mat-button class="sidenav-component" (click)="toggleSideNav.emit()">
      <mat-icon> menu </mat-icon>
    </button>
    <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()">Add a Hero</button>
    <button mat-menu-item (click)="toggleRtl.emit()">lang change</button>
    <button mat-menu-item (click)="toggleTheme.emit()">theme change</button>
  </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
