<mat-toolbar color="primary" class="toolbar-list">
  <mat-toolbar-row>
    <button type="button" mat-button class="sidenav-component" (click)="toggleSideNav.emit()">
      <mat-icon> menu </mat-icon>
    </button>
    <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="dropdown-menu">
    <button mat-menu-item (click)="openDialog()">{{lang.add}}</button>
    <button mat-menu-item (click)="toggleRtl.emit()">{{lang.lang}}</button>
    <button mat-menu-item (click)="toggleTheme.emit()">{{lang.theme}}</button>
  </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
