<div  *ngIf="options">
<mat-label> city info:</mat-label>
<div *ngFor="let cityForm of cityForms">
  <div *ngFor="let field of cityFields">
  <mat-form-field *ngIf="hideField(field.key)" class="forms-item">
    <div [formGroup]="cityForm">
      <mat-select [placeholder]="field.placeHolder" [formControlName]="field.key">
        <mat-option *ngFor="let option of getFieldOptionsBasedOnProvince(field,cityForm)" [value]="option">{{option}}</mat-option>
      </mat-select>
    </div>
  </mat-form-field>
  </div>
  <button class="forms-mini-button" *ngIf="options.isDynamic" (click)="clickRemove()" [hidden]="hideRemove()">
    <mat-icon>remove</mat-icon>
  </button>
</div>
<button class="forms-mini-button" *ngIf="options.isDynamic" (click)="clickAdd()" [hidden]="hideAdd()">
  <mat-icon>add</mat-icon>
</button>
</div>

