<h1 mat-dialog-title>
  Add New Superheroes
</h1>
<mat-dialog-content>
  <mat-card>
    <app-hero #hero></app-hero>
  </mat-card>
  <mat-card>
    <app-tree-field #superpower></app-tree-field>
  </mat-card>
  <mat-card>
    <app-phone #phone></app-phone>
  </mat-card>
  <mat-card>
    <app-address #address></app-address>
  </mat-card>
  <mat-card>
    <app-province #province></app-province>
  </mat-card>
  <button class="forms-button" [disabled]="disableSubmit()" (click)="onSubmit()" mat-button>{{formText.submit}}
  </button>
</mat-dialog-content>
