<mat-sidenav-container class="bar-container">
  <mat-sidenav #sidenav class="bar-sidenav mat-elevation-z12" [opened]="isScreenLarge()" [mode]="getMode()">
    <mat-toolbar color="accent" class="bar-sidenav-title">Superhero Contacts</mat-toolbar>
    <app-heroes></app-heroes>
  </mat-sidenav>
  <div class="bar-sidenav-content">
    <app-toolbar (toggleSideNav)="sidenav.toggle()"></app-toolbar>
    <mat-card class="card mat-elevation-z8">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</mat-sidenav-container>
