.forms{
  width: 50%;
  margin: auto;
}
.forms-button{
  width:100%;
  margin: auto;
}
.forms-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.section-label{
  border-bottom: medium;
}
