/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes {
  width: 48px;
  height: 48px;
}
.centerA{
  text-align: center;
}
.heroesText {
  font-size: 15px;
  text-align: center;
}
.heroes .badge {
}
.minipro{
  border: solid 1px;

}
