/* HeroesComponent's private CSS styles */
.selected {
  background-color: rgba(207, 216, 220, 0.18) !important;
  color: white;
}
.heroesPic {
  border: 2px solid darkslateblue;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  background: ghostwhite;
  vertical-align: middle;
}
.heroesText {
}
.heroes {

}
.minipro{
  border: solid 1px;
}
.item{
  margin: 15px 0 15px 0;
}
span.heroes {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 15px;
  font-weight: bold;


}
