/* HeroesComponent's private CSS styles */
.selected {
  background-color: rgba(207, 216, 220, 0.18) !important;
  color: white;
}
.heroesPic {
  border: 2px solid darkslateblue;
  width: 48px;
  height: 48px;
  border-radius: 25px;
  background: ghostwhite;
  vertical-align: middle;
}
.heroesText {
  font-size: 15px;
}
.heroes .badge {
}
.minipro{
  border: solid 1px;
}
.item{
  margin: 15px 0 15px 0;
}
span.heroes {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
