<mat-form-field class="forms-item">
  <div [formGroup]="form">
    <mat-select [placeholder]="field.placeHolder" [formControlName]="field.key">
        <mat-option *ngFor="let option of getFieldOptions(field)" [value]="option" >{{option}}</mat-option>
    </mat-select>
    <!--<input matInput [placeholder]="field.placeHolder" aria-label="State" [matAutocomplete]="auto" [formControlName]="field.key">-->
    <!--<mat-autocomplete #auto="matAutocomplete">-->
      <!--<mat-option *ngFor="let option of getFieldOptions(field) " [value]="option">-->
        <!--<span>{{option}}</span>-->
      <!--</mat-option>-->
    <!--</mat-autocomplete>-->
  </div>
</mat-form-field>


